<footer class="wbs-footer">
    Made width
    <i class="iconfont icon-heart-fill wbs-footer_btn"></i>
    <a href="https://github.com/BiYuqi/webpack-seed" target="_blank" rel="noopener noreferrer">shitketang</a>
</footer>
