@import '../../common/css/variable.scss';

.myred{
  color:red;
}

.box1{
  width:200px;
  height:200px;



  /* background:url('../../common/assets/image/demo.png');*/
  background:url('../../common/assets/image/loading_more.gif');

}

.box2{
  width:200px;
  height:200px;
}
