<div>

  关于我们
  <img src="<%=require('assets/image/loading_more.gif')%>" alt="">
  <input type="button" id='btn1'value='惦记我'/>
  <input type="button" id='btn2'value='惦记我2'/>
  <input type="text" >
  <input type="button" id='btn3'value='注册'/>
  <span class='myred'>abcdef</span>
  <div class="box1">

  </div>

  <div class="box2">
sdfsdff
  </div>



</div>
